.kz-btn {
    width: 85px;
    margin: 4px;
}
.kz-input-text {
    margin-top: 3px;
    width:270px;
	margin-left:6px
}
.kz-pad-20 {
	padding: 20px;
}
.col-xs-3, .col-xs-9 {
	padding: 0px;
}

.bck_color{
    background-color: white;
    color: black;
}